<div container text="center" >
  <h1 style="color:white" >charte de qualité</h1>
  <h6 style="color:white">Politique de confidentialité
CHARTE DE CONFIDENTIALITÉ UPPIZ

Dans le cadre de ses activités et notamment par l’exploitation du site internet www.uppiz.fr (ci-après le « Site« ), UPPIZ peut être conduite à mettre en œuvre la collecte et le traitement de certaines données à caractère personnel au sens du Règlement général du Parlement européen et du Conseil relatif à la protection des données personnelles n° 2016/679 du 27 avril 2016 (ci-après le « RGPD« ) et de la Loi Informatique & Libertés n° 78/17 du 6 janvier 1978 dans sa rédaction issue de la loi n° 2018/493 du 20 juin 2018 (ci-après la « Loi Informatique & Libertés« ).<br><br>

La présente charte de confidentialité a été rédigée pour permettre aux personnes qui interagissent avec UPPIZ (ci-après « Vous« , « Votre » ou « Vos« ) de comprendre quelles données sont collectées par UPPIZ, pour quelles finalités, et quels sont leurs droits à cet égard.<br><br>

Cette charte de confidentialité complète à la fois les conditions générales d’utilisation UPPIZ (applicables aux utilisateurs particuliers) ainsi que les conditions générales de service UPPIZ (applicables aux professionnels).<br><br>

Cette charte de confidentialité est mise en ligne sur le Site. Elle pourra être modifiée de temps à autre. Toute modification sera mise en œuvre après Vous en avoir informé, par exemple par le biais d’un bandeau sur le Site ou par tout autre moyen à la disposition d’UPPIZ (par exemple par e-mail). Dans cette hypothèse, la date de « Dernière mise à jour » mentionnée ci-dessus sera modifiée. La nouvelle version de la charte entrera en vigueur à compter de cette date.<br><br>

Qui est le responsable des traitements de données mis en œuvre ?
Le responsable des traitements des données personnelles mis en œuvre conformément à la présente Charte de confidentialité est la société CO’NECTING, société par actions simplifiée au capital de 100 euros, identifiée sous le numéro 813 564 473 RCS Dax, dont le siège social est sis 18 avenue de Labouyrie à Soustons (40120) (France), représentée par son Président (ci-après « UPPIZ« , « Nous« , « Notre » ou « Nos« ).<br><br>

Quand des données personnelles sont-elles collectées et traitées par UPPIZ ?
UPPIZ exploite une plateforme de services dédiée au tourisme à destination de personnes en situation de handicap. Elle permet de mettre en relation des professionnels et des utilisateurs qui construisent leurs projets de séjours ou loisirs sur la plateforme au travers de services innovants (géolocalisation des hébergements accessibles, activités adaptées, aides au financement du séjour, assistance téléphonique).<br><br>

Dans ce cadre, UPPIZ peut être amenée à collecter et traiter des données à caractère personnel au sens du RGPD et de la Loi Informatique & Libertés dans plusieurs situations :<br><br>

dans ses rapports avec les utilisateurs du Site : UPPIZ peut être amenée à collecter certaines informations lors de l’ouverture d’un Compte UPPIZ, ainsi qu’au cours de la navigation sur le Site ;
dans ses rapports avec les professionnels : UPPIZ collecte les données de navigation sur le Site, comme pour les particuliers. En outre, UPPIZ collecte des données publiques obtenues dans le cadre de la démarche Open Data. Les professionnels qui le souhaitent peuvent également ouvrir un Compte Pro UPPIZ, ce qui supposera la fourniture de certaines informations relatives à leur activité.
Quelles sont les données personnelles qui sont collectées et traitées par UPPIZ ?
Dans le cadre de ses activités, UPPIZ applique le principe de minimisation des données, ce qui signifie qu’elle ne collecte et traite que les données personnelles strictement nécessaires à la réalisation de son objet social et du projet qu’elle porte. UPPIZ ne fait pas commerce des données à caractère personnel qu’elle est amenée à collecter.<br><br>

Les données collectées et traitées par UPPIZ sont les suivantes :<br><br>

lors de l’ouverture d’un Compte UPPIZ par les particuliers : lorsque Vous créez un Compte UPPIZ, Vous devez fournir des informations telles que : Votre nom, Votre prénom, Votre date de naissance, Votre sexe, Votre adresse, ainsi que vos besoins spécifiques ;
lors de l’ouverture d’un Compte Pro UPPIZ par les professionnels : lorsque Vous créez un Compte Pro UPPIZ, Vous devez fournir des informations telles que : Votre nom, Votre prénom, Votre adresse, le type de service que Vous proposez ainsi que toutes les informations que Vous choisissez de communiquer à UPPIZ afin de compléter Votre fiche de présentation ;
lors de la passation d’une commande sur le Site : lorsque Vous commandez une prestation en « package » sur le Site, Vous devez fournir des informations complémentaires, en particulier des données bancaires afin de permettre le règlement du prix ;<br><br>


UPPIZ attire l’attention des utilisateurs particuliers que l’utilisation du Site peut induire la communication par leurs soins de données à caractère personnel de type « sensible » au sens du RGPD et de la Loi Informatique & Libertés. Ces données sensibles concernent exclusivement Votre handicap. <br><br>

UPPIZ ne Vous obligera jamais à lui communiquer ces informations, qui peuvent toutefois se révéler nécessaire dans l’hypothèse où Vous commandez un « package » sur le Site, puisqu’elles permettront aux professionnels concernés d’adapter leur offre à Vos besoins ou Vos envies.<br><br>

Dans une telle hypothèse, UPPIZ Vous rappellera que ces données sont sensibles, de telle sorte que leur communication sera effectuée en vertu de Votre consentement libre et éclairé.<br><br>

Sur quelle base légale les données personnelles sont-elles collectées et traitées ?
UPPIZ ne pratique aucune collecte ni aucun traitement de données personnelles illicite. Toutes les données personnelles qui sont collectées et traitées par UPPIZ le sont en effet en vertu d’un fondement légal dûment identifié :<br><br>

Votre consentement : pour la plupart, les données que Nous collectons sont celles que Vous choisissez de communiquer à UPPIZ, par exemple pour créer un Compte UPPIZ ou un Compte Pro UPPIZ, selon votre situation. S’il s’agit de données dites « sensibles », leur collecte et leur traitement n’aura lieu que sur la base de votre consentement ;<br>
l’exécution d’un contrat avec Vous : la collecte et le traitement de Vos données peuvent être nécessaires pour l’exécution d’un contrat, par exemple si Vous passez commande d’une prestation en « package » par le biais du Site. Pour les professionnels, il peut s’agir de l’exécution des conditions générales de services UPPIZ ;<br>
l’intérêt légitime d’UPPIZ : certaines données collectées automatiquement sont nécessaires aux fins légitimes que Nous poursuivons, en particulier la gestion du Site, étant précisé que ni la collecte ni le traitement de ces données ne sont susceptibles de porter atteinte aux intérêts ou aux libertés fondamentales qui sont les Vôtres.<br>
Quel usage faisons-Nous des données que Nous collectons ?
UPPIZ n’exploite les données personnelles collectées dans les hypothèses décrites plus haut que pour des finalités déterminées et légitimes, qui entrent dans le strict cadre de ses activités, conformément à son objet social et au projet qu’elle porte.<br><br>

Schématiquement, ces finalités sont les suivantes :<br><br>

à titre principal, ces données sont utilisées Vous permettre d’utiliser le Site et d’exploiter ses fonctionnalités, notamment, le cas échéant, le traitement d’une commande ;
ces données peuvent être traitées pour les besoins de la gestion de Nos relations avec Vous, notamment l’envoi de messages électroniques d’information ou d’enquêtes de satisfaction ;
enfin, certaines informations Nous sont utiles pour administrer le Site. Nous les analysons (directement ou par le biais de tiers avec lesquels Nous contractons) afin d’établir des statistiques d’usage (par exemple dans le but de comprendre quelles sont les pages les plus fréquentées) et d’améliorer le Site en enrichissant ses fonctions et fonctionnalités. Elles Nous permettront le cas échéant d’améliorer notre offre de produits ou de services. Nous pouvons également utiliser l’adresse de Votre terminal afin de lutter contre certains cas de fraude, notamment le vol d’identité.
À qui les données que nous collectons sont-elles communiquées ?<br>
Les données personnelles que Nous collectons sont avant tout utiles à UPPIZ elle-même.<br><br>

Ces données peuvent également être transmises à certains destinataires limitativement énumérés, à savoir :<br><br>

les professionnels référencés sur le Site et titulaires d’un Compte Pro UPPIZ : UPPIZ peut avoir besoin de communiquer des données personnelles Vous concernant à ces professionnels afin de permettre le traitement d’une commande ;<br>
Nos prestataires de services : nous pouvons contracter avec des prestataires de services tiers sous-traitants d’UPPIZ, expressément tenus par contrat écrit de ne pas divulguer ni utiliser les informations Vous concernant à toute autre fin. Ils sont en effet tenus contractuellement à des obligations de confidentialité et de sécurité au moins équivalentes à celles prévues dans la présente charte de confidentialité ;<br>
les autorités : Nous devrons, le cas échéant, coopérer avec les autorités, étatiques, administratives ou judiciaires, notamment les autorités de supervision chargées d’assurer l’exécution du RGPD et de la Loi Informatique & Libertés, lorsque Nous y serons contraints. Par conséquent, Nous Nous réservons le droit de divulguer toute information collectée dans le cadre de Nos activités aux autorités compétentes lorsque Nous sommes enjoints de le faire, par exemple dans le cadre d’une enquête résultant d’un vol de carte bancaire.
Combien de temps Vos données personnelles sont-elles conservées par UPPIZ ?<br>
UPPIZ conserve les données personnelles Vous concernant sous une forme identifiable pendant la stricte durée nécessaire à l’accomplissement de la finalité du traitement concerné. Ainsi, schématiquement :<br><br>

les données relatives au Compte UPPIZ ou au Compte Pro UPPIZ sont conservées tant que ledit Compte est actif (c’est-à-dire que Vous Vous y connectez) et jusque 3 (trois) ans après la dernière connexion ;
les données relatives aux transactions sur le Site sont conservées pendant une période de 3 (trois) ans
les données collectées automatiquement et qui concernent Votre session de navigation sur le Site sont effacées automatiquement au moment de Votre déconnexion.
Les autres données, en particulier les statistiques, sont conservées sous une forme anonymisée ne permettant pas Votre identification.<br><br>

Quels sont Vos droits relativement à Vos données personnelles ?
UPPIZ respecte les droits qui Vous sont accordés par le RGPD et la Loi Informatique & Libertés.<br><br>

Ainsi, Vous disposez du droit de demander l’accès aux données personnelles Vous concernant et qui sont conservées par UPPIZ, de même que la rectification ou l’effacement de celles-ci, voire la limitation du traitement relatif aux données personnelles Vous concernant, ainsi que le droit de Vous opposer à leur traitement.<br><br>

Toutefois, en cas de limitation du traitement ou d’opposition au traitement, UPPIZ pourra ne plus être en mesure de Vous permettre d’accéder à Votre Compte UPPIZ ou Votre Compte Pro UPPIZ, voire de bénéficier de la prestation commandée, par exemple. Par ailleurs, en cas d’exercice du droit d’opposition ou du droit à l’oubli, certaines informations pourront malgré tout être conservées par UPPIZ afin de se conformer à ses obligations légales.<br><br>

Vous pouvez également définir des directives relatives à la conservation, à l’effacement et à la communication de Vos données personnelles après votre décès. En l’absence de telles directives, les données personnelles Vous concernant seront conservées conformément aux paragraphes ci-dessus, à moins que Vos héritiers ne demandent une suppression plus rapide.<br><br>

Pour exercer ces droits, Vous pouvez envoyer un e-mail à l’adresse à infos@uppiz.com<br><br>

Par ailleurs, Vous êtes informé que Vous pouvez vous opposer au démarchage téléphonique en Vous inscrivant sur le site internet www.bloctel.fr.<br><br>

Enfin, Vous avez le droit d’introduire une réclamation à tout moment auprès de l’autorité de contrôle compétente pour la protection des données. Pour ce faire, Vous pouvez vous adresser à l’autorité de contrôle compétente pour la protection des données de la région dans laquelle Vous demeurez ou, en tout état de cause, la CNIL pour la France : www.cnil.fr.<br><br>

Comment les données personnelles Vous concernant sont-elles protégées ?<br>
En sa qualité de responsable de traitement, UPPIZ s’engage à mettre en œuvre et à maintenir, à ses frais, des mesures techniques et organisationnelles appropriées en matière de traitement et de sécurité des données personnelles, conformément aux articles 32 à 34 du RGPD et 70-13 de la Loi Informatique & Libertés.<br><br>

UPPIZ veille ainsi à ce que ces mesures techniques et organisationnelles soient de tous temps adaptées aux risques particuliers présentés par ses activités de traitement, au regard de la nature des informations susceptibles d’être collectées par elle, en particulier pour protéger Vos données personnelles contre la destruction, la perte, la modification, la divulgation non autorisée, de manière accidentelle ou illicite.<br><br>

Ainsi, s’agissant des mesures techniques mises en place par UPPIZ :<br><br>

toutes les données personnelles sont conservées sur des serveurs situés en France et agréés par le Ministère de la santé ;<br>
toutes les informations qui concernent la transaction bancaire sont cryptées tant pendant leur transmission via une connexion SSL depuis la source jusqu’à la cible. Les données relatives aux cartes bancaires ne sont au demeurant pas collectées ni conservées par UPPIZ ;
les accès administratifs à Nos serveurs sont limités à certaines adresses IP déclarées chez notre prestataire d’hébergement.<br>
S’agissant des mesures organisationnelles :<br><br>

seuls certains membres du personnel de UPPIZ limitativement énumérés sont autorisés à avoir accès aux données personnelles Vous concernant ;<br>
l’accès aux données est protégé par des noms d’utilisateurs et mots de passe ;<br>
les serveurs utilisés sont contrôlés par des groupes de sécurité.<br>
UPPIZ s’engage par ailleurs tenir, mettre à jour et conserver des registres complets et précis concernant les traitements de données personnelles mis en œuvre par UPPIZ. Ces registres détaillent ses activités de traitement.<br><br>

Des transferts internationaux de données sont-ils mis en œuvre ?<br>
Vos données personnelles sont conservées sur des serveurs situés en France. Aucun transfert international de données personnelles n’est autorisé.<br><br>

Des questions complémentaires <br>
Pour toute question complémentaire concernant la manière dont UPPIZ collecte et traite les données personnelles Vous concernant, Nous Vous proposons de Nous contacter à l’adresse suivante : infos@uppiz.com.

</h6>
</div>
